.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 8px;

  background: rgb(32 32 32);
  color: #fff;

  &.animated  {
    svg {
      opacity: 1;
    }
  }

  svg {
    opacity: 0;
    width: 55px;
    height: 55px;
    fill: #fff;
    transition-delay: 1s;
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 32px;

    li {
      display: flex;
      padding-inline: 4px;
      
      a {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px;
        transition: background 0.4s;
        border-radius: 16px;

        svg {
          stroke: rgb(200 200 200);
          stroke-width: 1.5;
          fill: transparent;
          transition-delay: 0s;
        }

        &[data-active='true'] {
          background: rgb(128 128 128);
          svg {
            stroke: #fff;
            animation: hop 1s linear;
          }
        }

        &:not([data-active='true']):hover {
          background: rgb(64 64 64);
          svg {
            stroke: #fff;
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;

    * {
      transition: transform 0.3s;
    }

    svg {
      stroke: rgb(200 200 200);
      stroke-width: 1.5;
      fill: transparent;
      transition-delay: 0s;

      width: 70%;
      height: 70%;
    }

    &:hover {
      svg {
        stroke: #fff;
        line, polyline {
          transform: translateX(4px);
        }
      }
    }
  }
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(0);
	}
  75% {
		transform: translateY(-10px);
	}
  100% {
		transform: translateY(0);
	}
}

@keyframes hop {
	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(360deg);
	}
}